#drums {
    padding: 20px 20px 20px 20px;
    width: 500px;
    height: 500px;
    background-color:gray;
    display:grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 30%);
    grid-gap: 10px;
    text-align: center;
    .drum-pad{    
        border: 1px solid white;
        align-self: center;
        background-color: lightblue;
    }    
}
